[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = DJ Adams
	email = dj.adams@sap.com
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	ps = push
	pl = pull
